In [2]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# for the model
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense, GRU, RepeatVector, TimeDistributed
from keras import optimizers
from keras.callbacks import ReduceLROnPlateau

Using TensorFlow backend.

In [3]:
# load files from pre-processing

X = np.load('X.npy') #rainpredictions, hour of day, month of year, holiday, ones
y = np.load('y.npy')
TimeHour = pd.read_csv('TimeHour.csv')

In [4]:
# split dataset in test and train

def ReshapeXData(dataframe):
    n_hours = 24
    n_features = dataframe.shape[1]
    days = int(dataframe.shape[0]/24)
    dataframe_shaped = np.reshape(dataframe,(days, n_hours, n_features))
    return dataframe_shaped

def ReshapeYData(dataframe):
    n_hours = 24
    n_features = 1
    days = int(dataframe.shape[0]/24)
    dataframe_shaped = np.reshape(dataframe,(days, n_hours, n_features))
    return dataframe_shaped

print(X.shape)
X_train_gru = X[0:10800,:]
X_test_gru = X[10801:13609,:]
Y_train_gru = y[0:10800]
Y_test_gru = y[10801:13609]

print(Y_train_gru.shape)
X_train_gru_shaped=ReshapeXData(X_train_gru)
X_test_gru_shaped = ReshapeXData(X_test_gru)
Y_train_gru_shaped = ReshapeYData(Y_train_gru)
Y_test_gru_shaped = ReshapeYData(Y_test_gru)
print(Y_train_gru[0:24])
print(Y_train_gru_shaped[0])
print(Y_test_gru[5])

(13612, 39)
(10800,)
[504.06447306 502.99539014 501.56176333 267.72203709 164.6846228
 415.60606761 506.92554056 498.48488889 539.77078944 569.86896236
 573.43357472 554.18056333 519.03118042 518.49464347 518.47689861
 511.91231167 508.04069681 506.03197208 505.73850639 505.39583111
 505.85508306 350.65611313 219.0446198  248.08282937]
[[504.06447306]
 [502.99539014]
 [501.56176333]
 [267.72203709]
 [164.6846228 ]
 [415.60606761]
 [506.92554056]
 [498.48488889]
 [539.77078944]
 [569.86896236]
 [573.43357472]
 [554.18056333]
 [519.03118042]
 [518.49464347]
 [518.47689861]
 [511.91231167]
 [508.04069681]
 [506.03197208]
 [505.73850639]
 [505.39583111]
 [505.85508306]
 [350.65611313]
 [219.0446198 ]
 [248.08282937]]
72.29804405333333

In [5]:
# basic model

from keras.layers import Dense

lr=0.03
epochs=150
batch_size=50
validation_split=0.1

print('Build model...')

n_timesteps, n_features, n_outputs = X_train_gru_shaped.shape[1], X_train_gru_shaped.shape[2], Y_train_gru_shaped.shape[1]
# reshape output into [samples, timesteps, features]

model = Sequential()
model.add(GRU(200, activation='relu', input_shape=(n_timesteps, n_features)))
model.add(RepeatVector(n_outputs))
model.add(GRU(200, activation='relu', return_sequences=True))
model.add(TimeDistributed(Dense(100, activation='relu')))
model.add(TimeDistributed(Dense(1)))
model.compile(loss='mae', optimizer='adam')

model.fit(
        X_train_gru_shaped,
        Y_train_gru_shaped,
        epochs=epochs,
        batch_size=batch_size,
        verbose=2,
        validation_split=0.2,
        callbacks=[
            ReduceLROnPlateau(
                verbose=1)])
    
    
#model = Sequential()
#model.add(Dense(1, input_dim=X.shape[1]))
#model.compile(optimizer = optimizers.Adam(lr=lr), loss='mean_squared_error')
#model.fit(X_train, y_train,
#          validation_split=validation_split,
#          epochs=epochs,
#          batch_size=batch_size,
#          shuffle=False)

Build model...
Train on 360 samples, validate on 90 samples
Epoch 1/150
 - 1s - loss: 128.8953 - val_loss: 142.1521
Epoch 2/150
 - 0s - loss: 120.7425 - val_loss: 103.8117
Epoch 3/150
 - 0s - loss: 94.8561 - val_loss: 94.9994
Epoch 4/150
 - 0s - loss: 84.5942 - val_loss: 86.8371
Epoch 5/150
 - 0s - loss: 79.8145 - val_loss: 84.1808
Epoch 6/150
 - 0s - loss: 78.1891 - val_loss: 83.1211
Epoch 7/150
 - 0s - loss: 77.0259 - val_loss: 81.2746
Epoch 8/150
 - 0s - loss: 76.6170 - val_loss: 81.7967
Epoch 9/150
 - 0s - loss: 76.2166 - val_loss: 81.2041
Epoch 10/150
 - 0s - loss: 78.7239 - val_loss: 84.5237
Epoch 11/150
 - 0s - loss: 79.1407 - val_loss: 80.4786
Epoch 12/150
 - 0s - loss: 77.1526 - val_loss: 79.2915
Epoch 13/150
 - 0s - loss: 75.9241 - val_loss: 79.9830
Epoch 14/150
 - 0s - loss: 75.6748 - val_loss: 78.6419
Epoch 15/150
 - 0s - loss: 74.7515 - val_loss: 82.1870
Epoch 16/150
 - 0s - loss: 75.9175 - val_loss: 85.9112
Epoch 17/150
 - 0s - loss: 76.6379 - val_loss: 79.3878
Epoch 18/150
 - 0s - loss: 74.1701 - val_loss: 77.5115
Epoch 19/150
 - 0s - loss: 75.0488 - val_loss: 79.5090
Epoch 20/150
 - 0s - loss: 76.4536 - val_loss: 90.3216
Epoch 21/150
 - 0s - loss: 76.7329 - val_loss: 75.8975
Epoch 22/150
 - 0s - loss: 73.6384 - val_loss: 74.3315
Epoch 23/150
 - 0s - loss: 72.2104 - val_loss: 77.9329
Epoch 24/150
 - 0s - loss: 71.9460 - val_loss: 76.1432
Epoch 25/150
 - 0s - loss: 74.6439 - val_loss: 76.9101
Epoch 26/150
 - 0s - loss: 71.4397 - val_loss: 77.7925
Epoch 27/150
 - 0s - loss: 72.5345 - val_loss: 74.3815
Epoch 28/150
 - 0s - loss: 69.4981 - val_loss: 143.9161
Epoch 29/150
 - 0s - loss: 86.3408 - val_loss: 94.5911
Epoch 30/150
 - 0s - loss: 81.8024 - val_loss: 78.9280
Epoch 31/150
 - 0s - loss: 72.6783 - val_loss: 79.8539
Epoch 32/150
 - 0s - loss: 70.0722 - val_loss: 80.1459

Epoch 00032: ReduceLROnPlateau reducing learning rate to 0.00010000000474974513.
Epoch 33/150
 - 0s - loss: 71.9189 - val_loss: 77.1493
Epoch 34/150
 - 0s - loss: 69.6540 - val_loss: 76.1945
Epoch 35/150
 - 0s - loss: 69.6199 - val_loss: 76.3415
Epoch 36/150
 - 0s - loss: 68.8120 - val_loss: 77.0356
Epoch 37/150
 - 0s - loss: 68.5562 - val_loss: 77.1376
Epoch 38/150
 - 0s - loss: 68.3168 - val_loss: 77.1277
Epoch 39/150
 - 0s - loss: 68.2373 - val_loss: 77.0483
Epoch 40/150
 - 0s - loss: 68.1277 - val_loss: 77.1740
Epoch 41/150
 - 0s - loss: 68.0681 - val_loss: 77.1083
Epoch 42/150
 - 0s - loss: 68.1380 - val_loss: 76.7871

Epoch 00042: ReduceLROnPlateau reducing learning rate to 1.0000000474974514e-05.
Epoch 43/150
 - 0s - loss: 67.9839 - val_loss: 76.8469
Epoch 44/150
 - 0s - loss: 67.9194 - val_loss: 76.9492
Epoch 45/150
 - 0s - loss: 67.9037 - val_loss: 77.1041
Epoch 46/150
 - 0s - loss: 67.8541 - val_loss: 77.1380
Epoch 47/150
 - 0s - loss: 67.8459 - val_loss: 77.1458
Epoch 48/150
 - 0s - loss: 67.8374 - val_loss: 77.1251
Epoch 49/150
 - 0s - loss: 67.8331 - val_loss: 77.1235
Epoch 50/150
 - 0s - loss: 67.8515 - val_loss: 77.2033
Epoch 51/150
 - 0s - loss: 67.8276 - val_loss: 77.1505
Epoch 52/150
 - 0s - loss: 67.8154 - val_loss: 77.1765

Epoch 00052: ReduceLROnPlateau reducing learning rate to 1.0000000656873453e-06.
Epoch 53/150
 - 0s - loss: 67.8087 - val_loss: 77.1765
Epoch 54/150
 - 0s - loss: 67.8084 - val_loss: 77.1820
Epoch 55/150
 - 0s - loss: 67.8077 - val_loss: 77.1860
Epoch 56/150
 - 0s - loss: 67.8071 - val_loss: 77.1842
Epoch 57/150
 - 0s - loss: 67.8065 - val_loss: 77.1833
Epoch 58/150
 - 0s - loss: 67.8059 - val_loss: 77.1862
Epoch 59/150
 - 0s - loss: 67.8050 - val_loss: 77.1891
Epoch 60/150
 - 0s - loss: 67.8037 - val_loss: 77.2049
Epoch 61/150
 - 0s - loss: 67.8037 - val_loss: 77.2215
Epoch 62/150
 - 0s - loss: 67.8023 - val_loss: 77.2342

Epoch 00062: ReduceLROnPlateau reducing learning rate to 1.0000001111620805e-07.
Epoch 63/150
 - 0s - loss: 67.8017 - val_loss: 77.2347
Epoch 64/150
 - 0s - loss: 67.8016 - val_loss: 77.2350
Epoch 65/150
 - 0s - loss: 67.8016 - val_loss: 77.2351
Epoch 66/150
 - 0s - loss: 67.8015 - val_loss: 77.2356
Epoch 67/150
 - 0s - loss: 67.8014 - val_loss: 77.2359
Epoch 68/150
 - 0s - loss: 67.8014 - val_loss: 77.2357
Epoch 69/150
 - 0s - loss: 67.8013 - val_loss: 77.2357
Epoch 70/150
 - 0s - loss: 67.8012 - val_loss: 77.2356
Epoch 71/150
 - 0s - loss: 67.8011 - val_loss: 77.2355
Epoch 72/150
 - 0s - loss: 67.8011 - val_loss: 77.2355

Epoch 00072: ReduceLROnPlateau reducing learning rate to 1.000000082740371e-08.
Epoch 73/150
 - 0s - loss: 67.8010 - val_loss: 77.2355
Epoch 74/150
 - 0s - loss: 67.8010 - val_loss: 77.2355
Epoch 75/150
 - 0s - loss: 67.8010 - val_loss: 77.2355
Epoch 76/150
 - 0s - loss: 67.8010 - val_loss: 77.2355
Epoch 77/150
 - 0s - loss: 67.8010 - val_loss: 77.2355
Epoch 78/150
 - 0s - loss: 67.8010 - val_loss: 77.2354
Epoch 79/150
 - 0s - loss: 67.8010 - val_loss: 77.2355
Epoch 80/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 81/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 82/150
 - 0s - loss: 67.8009 - val_loss: 77.2355

Epoch 00082: ReduceLROnPlateau reducing learning rate to 1.000000082740371e-09.
Epoch 83/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 84/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 85/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 86/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 87/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 88/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 89/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 90/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 91/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 92/150
 - 0s - loss: 67.8009 - val_loss: 77.2355

Epoch 00092: ReduceLROnPlateau reducing learning rate to 1.000000082740371e-10.
Epoch 93/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 94/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 95/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 96/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 97/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 98/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 99/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 100/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 101/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 102/150
 - 0s - loss: 67.8009 - val_loss: 77.2355

Epoch 00102: ReduceLROnPlateau reducing learning rate to 1.000000082740371e-11.
Epoch 103/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 104/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 105/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 106/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 107/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 108/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 109/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 110/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 111/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 112/150
 - 0s - loss: 67.8009 - val_loss: 77.2355

Epoch 00112: ReduceLROnPlateau reducing learning rate to 1.000000082740371e-12.
Epoch 113/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 114/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 115/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 116/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 117/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 118/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 119/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 120/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 121/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 122/150
 - 0s - loss: 67.8009 - val_loss: 77.2355

Epoch 00122: ReduceLROnPlateau reducing learning rate to 1.0000001044244145e-13.
Epoch 123/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 124/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 125/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 126/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 127/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 128/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 129/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 130/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 131/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 132/150
 - 0s - loss: 67.8009 - val_loss: 77.2355

Epoch 00132: ReduceLROnPlateau reducing learning rate to 1.0000001179769417e-14.
Epoch 133/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 134/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 135/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 136/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 137/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 138/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 139/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 140/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 141/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 142/150
 - 0s - loss: 67.8009 - val_loss: 77.2355

Epoch 00142: ReduceLROnPlateau reducing learning rate to 1.0000001518582595e-15.
Epoch 143/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 144/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 145/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 146/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 147/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 148/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 149/150
 - 0s - loss: 67.8009 - val_loss: 77.2355
Epoch 150/150
 - 0s - loss: 67.8009 - val_loss: 77.2355

In [6]:
# make a prediction to test how well the model preforms
y_predicted = model.predict(X_test_gru_shaped)
print(y_predicted.shape)
print(Y_test_gru_shaped.shape)
print(y_predicted[1][1])
print(Y_test_gru_shaped[1][1])

(117, 24, 1)
(117, 24, 1)
[131.61899]
[109.39359994]

In [ ]:
### LZS: WE HAVE TO IMPLEMENT HERE SOME METRICS AND A LOT OF PLOTS SO THAT WE CAN SEE HOW WELL THE MODEL PERFORMS
### LZS: AND ALSO TO BE ABLE TO FIND NEW FEATURES TO IMPROVE THE MODEL
### LZS: AND TO EVALUATE IF THE MODEL INDEED IMPROVES WHEN ADDING MORE FEATURES/ OTHER LAYERS

In [7]:
# show the inputs, predicted outputs and real outputs
for i in range(len(X_test_gru_shaped[0])):
        for j in range(len(X_test_gru_shaped[1])):
            print("Predicted=%s, Original=%s" % (y_predicted[i][j], Y_test_gru_shaped[i][j]))

Predicted=[57.22608], Original=[87.90307335]
Predicted=[90.44047], Original=[119.33287184]
Predicted=[93.86158], Original=[70.18270864]
Predicted=[88.79645], Original=[82.55571344]
Predicted=[85.57517], Original=[104.59264897]
Predicted=[84.956924], Original=[72.29804405]
Predicted=[85.389595], Original=[81.48252744]
Predicted=[85.84826], Original=[0.02796992]
Predicted=[86.08742], Original=[0.1253824]
Predicted=[86.21081], Original=[0.3472128]
Predicted=[86.32672], Original=[79.76302907]
Predicted=[86.46804], Original=[80.90010568]
Predicted=[86.62691], Original=[0.08824992]
Predicted=[86.79093], Original=[85.22198364]
Predicted=[86.95452], Original=[139.90204528]
Predicted=[87.11691], Original=[94.68862363]
Predicted=[87.27853], Original=[117.25686593]
Predicted=[87.439384], Original=[90.74470117]
Predicted=[87.599174], Original=[90.482204]
Predicted=[87.7575], Original=[87.95206821]
Predicted=[87.914055], Original=[0.09789472]
Predicted=[88.06866], Original=[83.73856284]
Predicted=[88.2212], Original=[90.25963047]
Predicted=[88.37157], Original=[85.48163999]
Predicted=[90.94233], Original=[158.31519683]
Predicted=[131.61899], Original=[109.39359994]
Predicted=[132.85556], Original=[82.29273939]
Predicted=[126.486626], Original=[93.95610756]
Predicted=[122.945946], Original=[83.82949924]
Predicted=[122.26804], Original=[0.10175264]
Predicted=[122.593796], Original=[81.95189086]
Predicted=[122.85746], Original=[83.79846803]
Predicted=[122.86477], Original=[0.03906144]
Predicted=[122.768196], Original=[0.09548352]
Predicted=[122.684456], Original=[79.89201125]
Predicted=[122.639565], Original=[0.00819808]
Predicted=[122.62022], Original=[93.06856482]
Predicted=[122.61273], Original=[87.56876462]
Predicted=[122.61193], Original=[97.73007459]
Predicted=[122.61724], Original=[89.06813788]
Predicted=[122.628876], Original=[176.0452608]
Predicted=[122.64636], Original=[84.56772435]
Predicted=[122.66891], Original=[60.34823549]
Predicted=[122.69576], Original=[120.21809135]
Predicted=[122.72626], Original=[15.46886587]
Predicted=[122.7599], Original=[123.07636948]
Predicted=[122.796234], Original=[71.61046463]
Predicted=[122.83485], Original=[143.77853102]
Predicted=[63.04251], Original=[86.82127645]
Predicted=[97.58878], Original=[85.58496551]
Predicted=[100.28152], Original=[0.06847808]
Predicted=[94.81534], Original=[28.52034272]
Predicted=[91.527855], Original=[0.3472128]
Predicted=[90.92536], Original=[0.3472128]
Predicted=[91.3476], Original=[0.3472128]
Predicted=[91.762245], Original=[0.3472128]
Predicted=[91.94654], Original=[0.3472128]
Predicted=[92.02054], Original=[0.3472128]
Predicted=[92.09449], Original=[0.3472128]
Predicted=[92.19831], Original=[0.3472128]
Predicted=[92.32197], Original=[102.1889537]
Predicted=[92.45251], Original=[459.65349918]
Predicted=[92.584465], Original=[194.7375897]
Predicted=[92.717186], Original=[124.95120772]
Predicted=[92.850945], Original=[66.13101664]
Predicted=[92.98566], Original=[0.22761728]
Predicted=[93.12081], Original=[0.3472128]
Predicted=[93.25591], Original=[242.28202185]
Predicted=[93.39055], Original=[59.1633676]
Predicted=[93.52445], Original=[0.3472128]
Predicted=[93.65741], Original=[0.3472128]
Predicted=[93.78926], Original=[0.3472128]
Predicted=[105.53289], Original=[0.3472128]
Predicted=[149.3949], Original=[0.3472128]
Predicted=[150.93134], Original=[0.3472128]
Predicted=[144.57245], Original=[0.3472128]
Predicted=[140.9273], Original=[0.3472128]
Predicted=[140.1614], Original=[6.18291389]
Predicted=[140.44543], Original=[455.9561809]
Predicted=[140.67847], Original=[483.12345028]
Predicted=[140.64606], Original=[489.82661889]
Predicted=[140.50253], Original=[366.69489181]
Predicted=[140.36908], Original=[85.24319247]
Predicted=[140.27423], Original=[85.62876163]
Predicted=[140.20541], Original=[81.32661337]
Predicted=[140.14903], Original=[82.30637786]
Predicted=[140.1], Original=[183.77992465]
Predicted=[140.05789], Original=[87.35861411]
Predicted=[140.02298], Original=[190.45968071]
Predicted=[139.995], Original=[96.92262633]
Predicted=[139.97316], Original=[176.37836968]
Predicted=[139.95683], Original=[83.62653002]
Predicted=[139.94534], Original=[83.39533216]
Predicted=[139.93817], Original=[135.05128274]
Predicted=[139.93484], Original=[98.34540109]
Predicted=[139.935], Original=[112.33555339]
Predicted=[63.144974], Original=[92.29195921]
Predicted=[97.79653], Original=[83.00733527]
Predicted=[100.48527], Original=[82.18785145]
Predicted=[94.98568], Original=[81.35147567]
Predicted=[91.68302], Original=[86.21829059]
Predicted=[91.07932], Original=[79.36375629]
Predicted=[91.50349], Original=[0.07812288]
Predicted=[91.91917], Original=[78.10602944]
Predicted=[92.10322], Original=[0.00144672]
Predicted=[92.17649], Original=[0.25510496]
Predicted=[92.24984], Original=[76.16326574]
Predicted=[92.353264], Original=[0.03713248]
Predicted=[92.4766], Original=[0.12393568]
Predicted=[92.606834], Original=[85.71036233]
Predicted=[92.73846], Original=[84.48354701]
Predicted=[92.87083], Original=[85.53157415]
Predicted=[93.00427], Original=[194.7572708]
Predicted=[93.13863], Original=[153.561958]
Predicted=[93.27346], Original=[111.78350055]
Predicted=[93.40821], Original=[85.10996555]
Predicted=[93.54252], Original=[105.58873942]
Predicted=[93.676094], Original=[67.68180925]
Predicted=[93.80872], Original=[81.9733259]
Predicted=[93.94024], Original=[141.6010149]
Predicted=[84.37818], Original=[117.67824081]
Predicted=[123.758095], Original=[83.57188436]
Predicted=[125.048454], Original=[82.80242527]
Predicted=[118.71754], Original=[84.71785992]
Predicted=[115.21116], Original=[83.35729475]
Predicted=[114.56771], Original=[79.28867748]
Predicted=[114.92234], Original=[0.06172672]
Predicted=[115.21393], Original=[0.18903808]
Predicted=[115.25087], Original=[76.63260117]
Predicted=[115.18421], Original=[0.03038112]
Predicted=[115.13006], Original=[0.20832768]
Predicted=[115.114235], Original=[78.65072996]
Predicted=[115.12331], Original=[86.56051104]
Predicted=[115.14347], Original=[82.10159303]
Predicted=[115.1695], Original=[95.76156312]
Predicted=[115.20085], Original=[84.93847176]
Predicted=[115.23768], Original=[144.70990179]
Predicted=[115.27957], Original=[107.33382841]
Predicted=[115.32577], Original=[86.71559889]
Predicted=[115.37548], Original=[85.33423294]
Predicted=[115.42811], Original=[12.40302644]
Predicted=[115.48318], Original=[161.75175326]
Predicted=[115.54027], Original=[26.43363895]
Predicted=[115.59904], Original=[151.64836003]
Predicted=[57.3709], Original=[85.09372469]
Predicted=[90.61945], Original=[85.72181086]
Predicted=[94.0265], Original=[174.22609917]
Predicted=[88.95508], Original=[91.03703306]
Predicted=[85.7321], Original=[31.98073909]
Predicted=[85.113235], Original=[128.68128242]
Predicted=[85.545], Original=[1.25907609]
Predicted=[86.002335], Original=[44.6158693]
Predicted=[86.24004], Original=[32.41319776]
Predicted=[86.362114], Original=[0.01543168]
Predicted=[86.47684], Original=[0.15576352]
Predicted=[86.6171], Original=[78.61457379]
Predicted=[86.774994], Original=[89.06625598]
Predicted=[86.9381], Original=[83.21433437]
Predicted=[87.10084], Original=[83.36323852]
Predicted=[87.26244], Original=[99.14578309]
Predicted=[87.42335], Original=[76.84646586]
Predicted=[87.58355], Original=[154.97695974]
Predicted=[87.7427], Original=[14.45434477]
Predicted=[87.900444], Original=[95.09274063]
Predicted=[88.056465], Original=[69.05840828]
Predicted=[88.21058], Original=[79.74148037]
Predicted=[88.36265], Original=[86.03797659]
Predicted=[88.512596], Original=[83.29562912]
Predicted=[130.32709], Original=[113.53252404]
Predicted=[178.28757], Original=[151.62087329]
Predicted=[181.57184], Original=[84.05297]
Predicted=[176.10458], Original=[87.49370796]
Predicted=[172.46997], Original=[87.67010617]
Predicted=[171.51393], Original=[80.58718329]
Predicted=[171.68604], Original=[77.98551764]
Predicted=[171.88046], Original=[75.84630967]
Predicted=[171.82726], Original=[3.15221347]
Predicted=[171.655], Original=[0.04436608]
Predicted=[171.48154], Original=[0.24787136]
Predicted=[171.34073], Original=[76.95164296]
Predicted=[171.22421], Original=[90.28122535]
Predicted=[171.12], Original=[87.26323799]
Predicted=[171.02301], Original=[83.41035592]
Predicted=[170.93274], Original=[84.11665172]
Predicted=[170.84958], Original=[168.23015096]
Predicted=[170.77347], Original=[46.91141039]
Predicted=[170.70398], Original=[150.09752992]
Predicted=[170.6405], Original=[260.14315422]
Predicted=[170.5826], Original=[191.29094686]
Predicted=[170.52982], Original=[106.82969636]
Predicted=[170.48181], Original=[160.02241093]
Predicted=[170.4382], Original=[86.58967926]
Predicted=[73.126976], Original=[193.15685678]
Predicted=[109.93212], Original=[133.58172877]
Predicted=[111.7252], Original=[129.98198313]
Predicted=[105.754265], Original=[99.35889126]
Predicted=[102.36198], Original=[181.63131105]
Predicted=[101.755226], Original=[84.26625545]
Predicted=[102.14735], Original=[85.082005]
Predicted=[102.49488], Original=[86.14666851]
Predicted=[102.59878], Original=[0.11477312]
Predicted=[102.598206], Original=[77.41182709]
Predicted=[102.60604], Original=[0.01109152]
Predicted=[102.649025], Original=[90.17496112]
Predicted=[102.71479], Original=[83.65583813]
Predicted=[102.78981], Original=[83.80845202]
Predicted=[102.86877], Original=[95.76157503]
Predicted=[102.95107], Original=[84.06676653]
Predicted=[103.03687], Original=[131.38129454]
Predicted=[103.12592], Original=[83.6030057]
Predicted=[103.21749], Original=[125.7375379]
Predicted=[103.310936], Original=[90.94972797]
Predicted=[103.40574], Original=[83.52436246]
Predicted=[103.5015], Original=[84.26151918]
Predicted=[103.5979], Original=[189.32682494]
Predicted=[103.694695], Original=[491.97016833]
Predicted=[94.9351], Original=[492.51172958]
Predicted=[136.52715], Original=[494.22584319]
Predicted=[137.78114], Original=[344.68930636]
Predicted=[131.37512], Original=[222.47583716]
Predicted=[127.7989], Original=[185.97498281]
Predicted=[127.09824], Original=[116.21960213]
Predicted=[127.411995], Original=[227.17928206]
Predicted=[127.66463], Original=[296.82919361]
Predicted=[127.65793], Original=[206.18475096]
Predicted=[127.54563], Original=[89.02801303]
Predicted=[127.44582], Original=[80.90394092]
Predicted=[127.38503], Original=[85.25921766]
Predicted=[127.35006], Original=[146.35207069]
Predicted=[127.32723], Original=[117.9072414]
Predicted=[127.31141], Original=[84.01457792]
Predicted=[127.30208], Original=[133.73981168]
Predicted=[127.29937], Original=[74.06201219]
Predicted=[127.30297], Original=[140.7202241]
Predicted=[127.31205], Original=[81.7496744]
Predicted=[127.32583], Original=[73.49416153]
Predicted=[127.34365], Original=[99.84081552]
Predicted=[127.365], Original=[0.07185376]
Predicted=[127.38943], Original=[83.09285022]
Predicted=[127.41656], Original=[175.17786269]
Predicted=[57.04841], Original=[86.89961999]
Predicted=[90.223854], Original=[89.11734144]
Predicted=[93.67592], Original=[84.42874191]
Predicted=[88.62873], Original=[113.58108741]
Predicted=[85.40928], Original=[62.55973431]
Predicted=[84.78904], Original=[80.4669148]
Predicted=[85.22118], Original=[0.08294528]
Predicted=[85.68107], Original=[77.85194933]
Predicted=[85.92199], Original=[78.0228563]
Predicted=[86.0469], Original=[0.0265232]
Predicted=[86.16401], Original=[0.03520352]
Predicted=[86.30636], Original=[77.97084658]
Predicted=[86.46622], Original=[0.024112]
Predicted=[86.63117], Original=[84.59557594]
Predicted=[86.79565], Original=[102.89532731]
Predicted=[86.95889], Original=[162.4723886]
Predicted=[87.121284], Original=[86.42295736]
Predicted=[87.28289], Original=[185.9770098]
Predicted=[87.44337], Original=[85.77477229]
Predicted=[87.60236], Original=[84.0687238]
Predicted=[87.75953], Original=[91.89146698]
Predicted=[87.91473], Original=[83.15895694]
Predicted=[88.06781], Original=[84.27194022]
Predicted=[88.2187], Original=[83.03986543]
Predicted=[57.722168], Original=[171.69920727]
Predicted=[91.06561], Original=[94.90137189]
Predicted=[94.42513], Original=[82.56092285]
Predicted=[89.32189], Original=[53.36995288]
Predicted=[86.09225], Original=[28.12943155]
Predicted=[85.474655], Original=[79.28833843]
Predicted=[85.90649], Original=[82.23959764]
Predicted=[86.36145], Original=[0.08246304]
Predicted=[86.59582], Original=[78.11708427]
Predicted=[86.71482], Original=[0.036168]
Predicted=[86.827], Original=[0.21797248]
Predicted=[86.96504], Original=[0.3472128]
Predicted=[87.12087], Original=[76.76917634]
Predicted=[87.28201], Original=[0.01591392]
Predicted=[87.44291], Original=[177.74707873]
Predicted=[87.602776], Original=[90.09644012]
Predicted=[87.76203], Original=[178.3501075]
Predicted=[87.920715], Original=[98.22069609]
Predicted=[88.07845], Original=[168.38627527]
Predicted=[88.234856], Original=[91.89025826]
Predicted=[88.38961], Original=[81.46034074]
Predicted=[88.542534], Original=[91.88691057]
Predicted=[88.69349], Original=[82.08982989]
Predicted=[88.84237], Original=[83.6939352]
Predicted=[56.766075], Original=[83.62066386]
Predicted=[89.86849], Original=[83.08966174]
Predicted=[93.35966], Original=[95.53218791]
Predicted=[88.33708], Original=[84.51086695]
Predicted=[85.12235], Original=[80.30170828]
Predicted=[84.50103], Original=[0.02796992]
Predicted=[84.933235], Original=[78.29142798]
Predicted=[85.39512], Original=[0.04870624]
Predicted=[85.6388], Original=[0.05690432]
Predicted=[85.76621], Original=[77.76085598]
Predicted=[85.88541], Original=[0.01591392]
Predicted=[86.02958], Original=[83.12918426]
Predicted=[86.19111], Original=[81.8619527]
Predicted=[86.35767], Original=[85.58328109]
Predicted=[86.52364], Original=[94.22346178]
Predicted=[86.688286], Original=[84.65036665]
Predicted=[86.852], Original=[120.92988613]
Predicted=[87.014824], Original=[88.62973959]
Predicted=[87.17646], Original=[145.52246718]
Predicted=[87.336494], Original=[0.04050816]
Predicted=[87.49468], Original=[80.12158381]
Predicted=[87.650826], Original=[85.67426908]
Predicted=[87.8048], Original=[82.28113305]
Predicted=[87.95653], Original=[95.55256111]
Predicted=[56.793385], Original=[126.5534311]
Predicted=[89.902855], Original=[130.60734669]
Predicted=[93.390205], Original=[92.52018623]
Predicted=[88.36524], Original=[85.38667321]
Predicted=[85.150055], Original=[82.36190615]
Predicted=[84.52883], Original=[90.27945265]
Predicted=[84.96104], Original=[78.96074522]
Predicted=[85.42275], Original=[0.0072336]
Predicted=[85.66615], Original=[0.05352864]
Predicted=[85.79333], Original=[77.58163696]
Predicted=[85.912315], Original=[0.04002592]
Predicted=[86.05631], Original=[0.1374384]
Predicted=[86.21769], Original=[167.71362929]
Predicted=[86.38409], Original=[86.27080326]
Predicted=[86.54993], Original=[83.10993225]
Predicted=[86.71444], Original=[94.01729307]
Predicted=[86.878006], Original=[82.44525197]
Predicted=[87.04072], Original=[81.71870776]
Predicted=[87.20223], Original=[89.58975565]
Predicted=[87.36218], Original=[79.90535326]
Predicted=[87.52028], Original=[0.0988592]
Predicted=[87.67631], Original=[161.22780524]
Predicted=[87.8302], Original=[4.27972594]
Predicted=[87.98185], Original=[81.73353132]
Predicted=[56.771286], Original=[182.36746017]
Predicted=[89.875046], Original=[85.97811678]
Predicted=[93.365486], Original=[84.02524352]
Predicted=[88.34246], Original=[135.96599554]
Predicted=[85.12763], Original=[47.997588]
Predicted=[84.50632], Original=[81.37658766]
Predicted=[84.93853], Original=[78.98322409]
Predicted=[85.4004], Original=[0.02362976]
Predicted=[85.64402], Original=[79.52787092]
Predicted=[85.77138], Original=[0.14177856]
Predicted=[85.89054], Original=[0.20880992]
Predicted=[86.034676], Original=[78.55824556]
Predicted=[86.19618], Original=[84.04016188]
Predicted=[86.362724], Original=[92.20046763]
Predicted=[86.52866], Original=[85.35606561]
Predicted=[86.69328], Original=[86.76301638]
Predicted=[86.85696], Original=[123.10339771]
Predicted=[87.01976], Original=[44.18594743]
Predicted=[87.18137], Original=[164.76726098]
Predicted=[87.3414], Original=[2.1301366]
Predicted=[87.49958], Original=[81.30752501]
Predicted=[87.65569], Original=[90.58744751]
Predicted=[87.80964], Original=[83.61733529]
Predicted=[87.96134], Original=[83.83984276]
Predicted=[62.57715], Original=[177.93349294]
Predicted=[97.03109], Original=[96.84545007]
Predicted=[99.77808], Original=[86.27281252]
Predicted=[94.33716], Original=[91.68017618]
Predicted=[91.05221], Original=[83.69848248]
Predicted=[90.44845], Original=[82.21773135]
Predicted=[90.87198], Original=[32.20598449]
Predicted=[91.29029], Original=[53.50945411]
Predicted=[91.4789], Original=[77.75658666]
Predicted=[91.556725], Original=[0.02989888]
Predicted=[91.63398], Original=[0.0747472]
Predicted=[91.74082], Original=[81.20549169]
Predicted=[91.86736], Original=[0.07667616]
Predicted=[92.000656], Original=[167.27345484]
Predicted=[92.135216], Original=[101.05151518]
Predicted=[92.27038], Original=[82.55067259]
Predicted=[92.40644], Original=[86.93054704]
Predicted=[92.543335], Original=[83.27343492]
Predicted=[92.68055], Original=[100.13327785]
Predicted=[92.81757], Original=[104.26566612]
Predicted=[92.95406], Original=[155.10362606]
Predicted=[93.08971], Original=[17.39544603]
Predicted=[93.22431], Original=[74.62210929]
Predicted=[93.357735], Original=[166.3773177]
Predicted=[63.898193], Original=[100.62303139]
Predicted=[98.65062], Original=[95.66449532]
Predicted=[101.251595], Original=[84.9786928]
Predicted=[95.730156], Original=[84.09324887]
Predicted=[92.43078], Original=[93.98197512]
Predicted=[91.82868], Original=[82.46143102]
Predicted=[92.248924], Original=[79.61611052]
Predicted=[92.65757], Original=[0.03954368]
Predicted=[92.83443], Original=[82.19300361]
Predicted=[92.90156], Original=[0.05159968]
Predicted=[92.96956], Original=[0.25655168]
Predicted=[93.068016], Original=[78.07159194]
Predicted=[93.18663], Original=[94.08102749]
Predicted=[93.31235], Original=[84.93391566]
Predicted=[93.43973], Original=[83.89168216]
Predicted=[93.56809], Original=[93.45719822]
Predicted=[93.69776], Original=[85.16331376]
Predicted=[93.82858], Original=[147.5125683]
Predicted=[93.96005], Original=[67.91742856]
Predicted=[94.09165], Original=[37.06835373]
Predicted=[94.22297], Original=[90.75562856]
Predicted=[94.353676], Original=[82.32050521]
Predicted=[94.48362], Original=[83.22251086]
Predicted=[94.61259], Original=[97.32402721]
Predicted=[100.345505], Original=[103.1487286]
Predicted=[142.62433], Original=[151.44882058]
Predicted=[144.03824], Original=[83.62046252]
Predicted=[137.7888], Original=[88.13724207]
Predicted=[134.23187], Original=[83.4697672]
Predicted=[133.4931], Original=[80.03378543]
Predicted=[133.77042], Original=[0.0217008]
Predicted=[133.99846], Original=[86.59315526]
Predicted=[133.97345], Original=[0.1109152]
Predicted=[133.844], Original=[77.91594785]
Predicted=[133.72607], Original=[0.03086336]
Predicted=[133.64645], Original=[0.11863104]
Predicted=[133.59268], Original=[88.87283319]
Predicted=[133.55159], Original=[83.36664401]
Predicted=[133.51805], Original=[85.55319072]
Predicted=[133.49149], Original=[163.66498922]
Predicted=[133.47205], Original=[117.30199955]
Predicted=[133.45934], Original=[140.84825995]
Predicted=[133.45258], Original=[124.88745408]
Predicted=[133.45099], Original=[84.13027712]
Predicted=[133.4539], Original=[94.51576815]
Predicted=[133.46078], Original=[83.31808759]
Predicted=[133.47116], Original=[83.82120581]
Predicted=[133.48462], Original=[84.99902208]
Predicted=[80.20332], Original=[181.55153207]
Predicted=[118.60239], Original=[85.63977331]
Predicted=[120.03126], Original=[82.44104962]
Predicted=[113.8236], Original=[34.0896744]
Predicted=[110.36138], Original=[47.00345054]
Predicted=[109.73267], Original=[82.54472654]
Predicted=[110.099144], Original=[80.25751991]
Predicted=[110.4083], Original=[0.07764064]
Predicted=[110.46731], Original=[77.63367151]

In [ ]:
# Create a dataframe with a prediction for all datapoints for the csv

y_predicted_all = model.predict(X)
y_pred_all = pd.DataFrame(data=y_predicted_all)

my_df = pd.DataFrame({'Time': TimeHour.loc[:,'TimeHour'].tolist(), 'pred_y': y_pred_all.loc[:,0].tolist()})
my_df.to_csv('FirstPredictions.csv')

In [11]:
df_explore = pd.DataFrame(data=X)
df_explore['TimeHour'] = TimeHour.loc[:, 'TimeHour']

In [ ]:
#date = df_explore.loc[2, "TimeHour"]
#df_explore['TimeHour2'] = pd.to_datetime(df_explore['TimeHour'], format='%Y-%m-%d %H:%M:%S')
#date = df_explore.loc[2, "TimeHour2"]
#type(date)

In [ ]:
#new_date = date + timedelta(hours=1)
#new_date

In [18]:
df_test = pd.DataFrame(data=X)
df_test['TimeHour'] = TimeHour.loc[:, 'TimeHour']

small_df_test = df_explore[545:553]
small_df_test

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,TimeHour
545,0.017310,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2018-01-24 05:00:00
546,0.007029,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2018-01-24 06:00:00
547,0.007944,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2018-01-24 07:00:00
548,0.002714,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2018-01-24 08:00:00
549,0.006858,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2018-01-24 09:00:00
550,0.136719,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2018-01-24 10:00:00
551,0.371582,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2018-01-25 14:00:00
552,0.091797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2018-01-25 15:00:00

In [19]:
small_df_test['TimeHour2'] = 'NA'
small_df_test['TimeHour2'] = pd.to_datetime(df_test['TimeHour'], format='%Y-%m-%d %H:%M:%S')
small_df_test['Diff'] = 'NA'
small_df_test['Before']="NA"

C:\ProgramData\Anaconda3\envs\Keras\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\envs\Keras\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\envs\Keras\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\envs\Keras\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [20]:
# noinspection JupyterKernel
for x in range(546, 553):
    before = small_df_test.loc[x - 1, 'TimeHour2']
    small_df_test.loc[x, 'Before'] = before
    now = small_df_test.loc[x, 'TimeHour2']
    diff = now - before
    small_df_test.loc[x, 'Diff'] = diff
small_df_test

C:\ProgramData\Anaconda3\envs\Keras\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,TimeHour,TimeHour2,Diff,Before
545,0.017310,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,2018-01-24 05:00:00,2018-01-24 05:00:00,NA,NA
546,0.007029,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,2018-01-24 06:00:00,2018-01-24 06:00:00,0 days 01:00:00,2018-01-24 05:00:00
547,0.007944,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,2018-01-24 07:00:00,2018-01-24 07:00:00,0 days 01:00:00,2018-01-24 06:00:00
548,0.002714,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,2018-01-24 08:00:00,2018-01-24 08:00:00,0 days 01:00:00,2018-01-24 07:00:00
549,0.006858,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,2018-01-24 09:00:00,2018-01-24 09:00:00,0 days 01:00:00,2018-01-24 08:00:00
550,0.136719,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,2018-01-24 10:00:00,2018-01-24 10:00:00,0 days 01:00:00,2018-01-24 09:00:00
551,0.371582,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,2018-01-25 14:00:00,2018-01-25 14:00:00,1 days 04:00:00,2018-01-24 10:00:00
552,0.091797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,2018-01-25 15:00:00,2018-01-25 15:00:00,0 days 01:00:00,2018-01-25 14:00:00

In [21]:
small_df_test = small_df_test.drop([545])
small_df_test['diff_hours'] = [x.total_seconds() / 3600 for x in small_df_test['Diff']]

In [22]:
small_df_test = small_df_test.reset_index()
small_df_test = small_df_test.drop(columns=["index"])
small_df_test

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,TimeHour,TimeHour2,Diff,Before,diff_hours
0,0.007029,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-24 06:00:00,2018-01-24 06:00:00,0 days 01:00:00,2018-01-24 05:00:00,1.0
1,0.007944,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-24 07:00:00,2018-01-24 07:00:00,0 days 01:00:00,2018-01-24 06:00:00,1.0
2,0.002714,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-24 08:00:00,2018-01-24 08:00:00,0 days 01:00:00,2018-01-24 07:00:00,1.0
3,0.006858,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-24 09:00:00,2018-01-24 09:00:00,0 days 01:00:00,2018-01-24 08:00:00,1.0
4,0.136719,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-24 10:00:00,2018-01-24 10:00:00,0 days 01:00:00,2018-01-24 09:00:00,1.0
5,0.371582,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-25 14:00:00,2018-01-25 14:00:00,1 days 04:00:00,2018-01-24 10:00:00,28.0
6,0.091797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-25 15:00:00,2018-01-25 15:00:00,0 days 01:00:00,2018-01-25 14:00:00,1.0

In [23]:
type(small_df_test.loc[1, "diff_hours"])

numpy.float64

In [51]:
def fill_with_average(df, previous, following):
    value_new = list(df.loc[previous])
    value_previous = list(df.loc[previous])
    value_following = list(df.loc[following])
    value_new[0]= (value_previous[0]+value_following[0])/2
    date = df.loc[previous, 'TimeHour2']
    new_date = date + timedelta(hours=1)
    value_new[40]=new_date
    value_new[date.hour]=0.0
    value_new[new_date.hour]=1.0
    #value_new[43]=1.0
    df_length = len(df)
    df.loc[df_length] = value_new
    df = df.sort_values(by= "TimeHour2")
    df = df.reset_index()
    df = df.drop(columns=["index"])
    return df

In [ ]:
#for x, x in small_df_test.iterrows():
#    if small_df_test.loc[x, 'diff_hours'] != 1.0 and small_df_test.loc[x, "diff_hours"] != 24.0:
#        small_df_test.loc[x, 'diff_hours'] = small_df_test.loc[x, 'diff_hours'] - 1
#        small_df_test = fill_with_average(small_df_test, x-1, x)

In [25]:
small_df_test

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,TimeHour,TimeHour2,Diff,Before,diff_hours
0,0.007029,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-24 06:00:00,2018-01-24 06:00:00,0 days 01:00:00,2018-01-24 05:00:00,1.0
1,0.007944,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-24 07:00:00,2018-01-24 07:00:00,0 days 01:00:00,2018-01-24 06:00:00,1.0
2,0.002714,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-24 08:00:00,2018-01-24 08:00:00,0 days 01:00:00,2018-01-24 07:00:00,1.0
3,0.006858,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-24 09:00:00,2018-01-24 09:00:00,0 days 01:00:00,2018-01-24 08:00:00,1.0
4,0.136719,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-24 10:00:00,2018-01-24 10:00:00,0 days 01:00:00,2018-01-24 09:00:00,1.0
5,0.371582,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-25 14:00:00,2018-01-25 14:00:00,1 days 04:00:00,2018-01-24 10:00:00,28.0
6,0.091797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-25 15:00:00,2018-01-25 15:00:00,0 days 01:00:00,2018-01-25 14:00:00,1.0

In [26]:
x = 0
while x < 11:
    if small_df_test.loc[x, 'diff_hours'] != 1.0 and small_df_test.loc[x, "diff_hours"] != 24.0:
        small_df_test.loc[x, 'diff_hours'] = small_df_test.loc[x, 'diff_hours'] - 1
        small_df_test = fill_with_average(small_df_test, x-1, x)
        x = x + 1
    else:
        x = x + 1

In [27]:
small_df_test

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,TimeHour,TimeHour2,Diff,Before,diff_hours
0,0.007029,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-24 06:00:00,2018-01-24 06:00:00,0 days 01:00:00,2018-01-24 05:00:00,1.0
1,0.007944,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-24 07:00:00,2018-01-24 07:00:00,0 days 01:00:00,2018-01-24 06:00:00,1.0
2,0.002714,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-24 08:00:00,2018-01-24 08:00:00,0 days 01:00:00,2018-01-24 07:00:00,1.0
3,0.006858,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-24 09:00:00,2018-01-24 09:00:00,0 days 01:00:00,2018-01-24 08:00:00,1.0
4,0.136719,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-24 10:00:00,2018-01-24 10:00:00,0 days 01:00:00,2018-01-24 09:00:00,1.0
5,0.254150,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-24 10:00:00,2018-01-24 11:00:00,0 days 01:00:00,2018-01-24 09:00:00,1.0
6,0.312866,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-24 10:00:00,2018-01-24 12:00:00,0 days 01:00:00,2018-01-24 09:00:00,1.0
7,0.342224,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-24 10:00:00,2018-01-24 13:00:00,0 days 01:00:00,2018-01-24 09:00:00,1.0
8,0.356903,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-24 10:00:00,2018-01-24 14:00:00,0 days 01:00:00,2018-01-24 09:00:00,1.0
9,0.371582,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-25 14:00:00,2018-01-25 14:00:00,1 days 04:00:00,2018-01-24 10:00:00,24.0
10,0.091797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-25 15:00:00,2018-01-25 15:00:00,0 days 01:00:00,2018-01-25 14:00:00,1.0

In [ ]:
##Now do this for the whole dataframe

In [28]:
df_test = pd.DataFrame(data=X)
df_test['TimeHour'] = TimeHour.loc[:, 'TimeHour']
df_test

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,TimeHour
0,0.063621,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2018-01-01 12:00:00
1,0.006699,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2018-01-01 13:00:00
2,0.004883,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2018-01-01 14:00:00
3,0.000977,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2018-01-01 15:00:00
4,0.027060,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2018-01-01 16:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13607,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2019-08-25 19:00:00
13608,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN
13609,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN
13610,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN
13611,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN

In [29]:
df_test['TimeHour2'] = 'NA'
df_test['TimeHour2'] = pd.to_datetime(df_test['TimeHour'], format='%Y-%m-%d %H:%M:%S')
df_test['Diff'] = 'NA'
df_test['Before']="NA"
for x in range(1, df_test.shape[0]):
    before = df_test.loc[x - 1, 'TimeHour2']
    df_test.loc[x, 'Before'] = before
    now = df_test.loc[x, 'TimeHour2']
    diff = now - before
    df_test.loc[x, 'Diff'] = diff
df_test

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,TimeHour,TimeHour2,Diff,Before
0,0.063621,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,2018-01-01 12:00:00,2018-01-01 12:00:00,NA,NA
1,0.006699,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,2018-01-01 13:00:00,2018-01-01 13:00:00,0 days 01:00:00,2018-01-01 12:00:00
2,0.004883,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,2018-01-01 14:00:00,2018-01-01 14:00:00,0 days 01:00:00,2018-01-01 13:00:00
3,0.000977,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,2018-01-01 15:00:00,2018-01-01 15:00:00,0 days 01:00:00,2018-01-01 14:00:00
4,0.027060,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,2018-01-01 16:00:00,2018-01-01 16:00:00,0 days 01:00:00,2018-01-01 15:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13607,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,2019-08-25 19:00:00,2019-08-25 19:00:00,0 days 01:00:00,2019-08-25 18:00:00
13608,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaT,NaT,2019-08-25 19:00:00
13609,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaT,NaT,NaT
13610,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaT,NaT,NaT
13611,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaT,NaT,NaT

In [30]:
df_test = df_test.drop(0)

In [31]:
df_test['diff_hours'] = [x.total_seconds() / 3600 for x in df_test['Diff']]

In [ ]:
df_test

In [ ]:
##Delete parts of missing data that are too big and make sure it are still blocks of 24 hours

In [32]:
df_first = df_test[1135:1145]
df_first = df_first.drop([1141,1142])
df_first

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,TimeHour,TimeHour2,Diff,Before,diff_hours
1136,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-02-26 05:00:00,2018-02-26 05:00:00,0 days 01:00:00,2018-02-26 04:00:00,1.0
1137,0.013306,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-02-26 06:00:00,2018-02-26 06:00:00,0 days 01:00:00,2018-02-26 05:00:00,1.0
1138,0.000061,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-02-26 07:00:00,2018-02-26 07:00:00,0 days 01:00:00,2018-02-26 06:00:00,1.0
1139,0.001282,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,2018-02-26 08:00:00,2018-02-26 08:00:00,0 days 01:00:00,2018-02-26 07:00:00,1.0
1140,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-02-26 09:00:00,2018-02-26 09:00:00,0 days 01:00:00,2018-02-26 08:00:00,1.0
1143,0.002441,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-02-28 13:00:00,2018-02-28 13:00:00,0 days 04:00:00,2018-02-28 09:00:00,4.0
1144,0.002441,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-02-28 14:00:00,2018-02-28 14:00:00,0 days 01:00:00,2018-02-28 13:00:00,1.0
1145,0.000977,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-02-28 15:00:00,2018-02-28 15:00:00,0 days 01:00:00,2018-02-28 14:00:00,1.0

In [33]:
df_test = df_test.drop([1141,1142])
df_test = df_test.reset_index()
df_test = df_test.drop(columns=["index"])
df_test

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,TimeHour,TimeHour2,Diff,Before,diff_hours
0,0.006699,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2018-01-01 13:00:00,2018-01-01 13:00:00,0 days 01:00:00,2018-01-01 12:00:00,1.0
1,0.004883,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2018-01-01 14:00:00,2018-01-01 14:00:00,0 days 01:00:00,2018-01-01 13:00:00,1.0
2,0.000977,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2018-01-01 15:00:00,2018-01-01 15:00:00,0 days 01:00:00,2018-01-01 14:00:00,1.0
3,0.027060,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2018-01-01 16:00:00,2018-01-01 16:00:00,0 days 01:00:00,2018-01-01 15:00:00,1.0
4,0.446828,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2018-01-01 17:00:00,2018-01-01 17:00:00,0 days 01:00:00,2018-01-01 16:00:00,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13604,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2019-08-25 19:00:00,2019-08-25 19:00:00,0 days 01:00:00,2019-08-25 18:00:00,1.0
13605,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,NaN,NaT,NaT,2019-08-25 19:00:00,NaN
13606,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,NaN,NaT,NaT,NaT,NaN
13607,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,NaN,NaT,NaT,NaT,NaN
13608,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,NaN,NaT,NaT,NaT,NaN

In [34]:
df_test[df_test['diff_hours']>1]

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,TimeHour,TimeHour2,Diff,Before,diff_hours
550,3.715820e-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-25 14:00:00,2018-01-25 14:00:00,1 days 04:00:00,2018-01-24 10:00:00,28.0
668,3.710938e-02,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-31 00:00:00,2018-01-31 00:00:00,0 days 13:00:00,2018-01-30 11:00:00,13.0
670,1.000977e-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-31 14:00:00,2018-01-31 14:00:00,0 days 13:00:00,2018-01-31 01:00:00,13.0
692,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-02-05 16:00:00,2018-02-05 16:00:00,4 days 05:00:00,2018-02-01 11:00:00,101.0
1067,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-02-23 09:00:00,2018-02-23 09:00:00,2 days 03:00:00,2018-02-21 06:00:00,51.0
1140,2.441406e-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-02-28 13:00:00,2018-02-28 13:00:00,0 days 04:00:00,2018-02-28 09:00:00,4.0
1509,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-04-05 20:00:00,2018-04-05 20:00:00,20 days 23:00:00,2018-03-15 21:00:00,503.0
1692,9.765621e-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-04-13 16:00:00,2018-04-13 16:00:00,0 days 06:00:00,2018-04-13 10:00:00,6.0
1805,3.749680e-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-04-18 17:00:00,2018-04-18 17:00:00,0 days 09:00:00,2018-04-18 08:00:00,9.0
1824,-4.523088e-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-04-20 12:00:00,2018-04-20 12:00:00,1 days 01:00:00,2018-04-19 11:00:00,25.0
2164,-7.734648e-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-05-04 18:00:00,2018-05-04 18:00:00,0 days 03:00:00,2018-05-04 15:00:00,3.0
3778,0.000000e+00,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-07-11 01:00:00,2018-07-11 01:00:00,0 days 02:00:00,2018-07-10 23:00:00,2.0
4837,3.974609e-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-08-24 06:00:00,2018-08-24 06:00:00,0 days 03:00:00,2018-08-24 03:00:00,3.0
5299,1.723633e-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-09-12 15:00:00,2018-09-12 15:00:00,0 days 04:00:00,2018-09-12 11:00:00,4.0
6653,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,2018-11-08 08:00:00,2018-11-08 08:00:00,0 days 08:00:00,2018-11-08 00:00:00,8.0
7935,1.387939e-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2019-01-01 12:00:00,2019-01-01 12:00:00,0 days 19:00:00,2018-12-31 17:00:00,19.0
10061,5.155640e-01,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2019-03-31 03:00:00,2019-03-31 03:00:00,0 days 02:00:00,2019-03-31 01:00:00,2.0
12686,4.370117e-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2019-07-18 13:00:00,2019-07-18 13:00:00,0 days 02:00:00,2019-07-18 11:00:00,2.0

In [35]:
df_error= df_test[650:671]
df_error=df_error.drop([655,656,657,658,659,660,661,662,663,664,665,666,667,668,669])
df_error

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,TimeHour,TimeHour2,Diff,Before,diff_hours
650,0.284955,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-29 18:00:00,2018-01-29 18:00:00,0 days 01:00:00,2018-01-29 17:00:00,1.0
651,0.081055,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-29 19:00:00,2018-01-29 19:00:00,0 days 01:00:00,2018-01-29 18:00:00,1.0
652,0.003906,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-29 20:00:00,2018-01-29 20:00:00,0 days 01:00:00,2018-01-29 19:00:00,1.0
653,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-29 21:00:00,2018-01-29 21:00:00,0 days 01:00:00,2018-01-29 20:00:00,1.0
654,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-29 22:00:00,2018-01-29 22:00:00,0 days 01:00:00,2018-01-29 21:00:00,1.0
670,0.010010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-31 14:00:00,2018-01-31 14:00:00,0 days 13:00:00,2018-01-31 01:00:00,13.0

In [36]:
df_test = df_test.drop([655,656,657,658,659,660,661,662,663,664,665,666,667,668,669])
df_test = df_test.reset_index()
df_test = df_test.drop(columns=["index"])
df_test

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,TimeHour,TimeHour2,Diff,Before,diff_hours
0,0.006699,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2018-01-01 13:00:00,2018-01-01 13:00:00,0 days 01:00:00,2018-01-01 12:00:00,1.0
1,0.004883,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2018-01-01 14:00:00,2018-01-01 14:00:00,0 days 01:00:00,2018-01-01 13:00:00,1.0
2,0.000977,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2018-01-01 15:00:00,2018-01-01 15:00:00,0 days 01:00:00,2018-01-01 14:00:00,1.0
3,0.027060,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2018-01-01 16:00:00,2018-01-01 16:00:00,0 days 01:00:00,2018-01-01 15:00:00,1.0
4,0.446828,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2018-01-01 17:00:00,2018-01-01 17:00:00,0 days 01:00:00,2018-01-01 16:00:00,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13589,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2019-08-25 19:00:00,2019-08-25 19:00:00,0 days 01:00:00,2019-08-25 18:00:00,1.0
13590,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,NaN,NaT,NaT,2019-08-25 19:00:00,NaN
13591,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,NaN,NaT,NaT,NaT,NaN
13592,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,NaN,NaT,NaT,NaT,NaN
13593,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,NaN,NaT,NaT,NaT,NaN

In [37]:
df_test[df_test['diff_hours']>1]

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,TimeHour,TimeHour2,Diff,Before,diff_hours
550,3.715820e-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-25 14:00:00,2018-01-25 14:00:00,1 days 04:00:00,2018-01-24 10:00:00,28.0
655,1.000977e-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-31 14:00:00,2018-01-31 14:00:00,0 days 13:00:00,2018-01-31 01:00:00,13.0
677,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-02-05 16:00:00,2018-02-05 16:00:00,4 days 05:00:00,2018-02-01 11:00:00,101.0
1052,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-02-23 09:00:00,2018-02-23 09:00:00,2 days 03:00:00,2018-02-21 06:00:00,51.0
1125,2.441406e-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-02-28 13:00:00,2018-02-28 13:00:00,0 days 04:00:00,2018-02-28 09:00:00,4.0
1494,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-04-05 20:00:00,2018-04-05 20:00:00,20 days 23:00:00,2018-03-15 21:00:00,503.0
1677,9.765621e-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-04-13 16:00:00,2018-04-13 16:00:00,0 days 06:00:00,2018-04-13 10:00:00,6.0
1790,3.749680e-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-04-18 17:00:00,2018-04-18 17:00:00,0 days 09:00:00,2018-04-18 08:00:00,9.0
1809,-4.523088e-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-04-20 12:00:00,2018-04-20 12:00:00,1 days 01:00:00,2018-04-19 11:00:00,25.0
2149,-7.734648e-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-05-04 18:00:00,2018-05-04 18:00:00,0 days 03:00:00,2018-05-04 15:00:00,3.0
3763,0.000000e+00,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-07-11 01:00:00,2018-07-11 01:00:00,0 days 02:00:00,2018-07-10 23:00:00,2.0
4822,3.974609e-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-08-24 06:00:00,2018-08-24 06:00:00,0 days 03:00:00,2018-08-24 03:00:00,3.0
5284,1.723633e-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-09-12 15:00:00,2018-09-12 15:00:00,0 days 04:00:00,2018-09-12 11:00:00,4.0
6638,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,2018-11-08 08:00:00,2018-11-08 08:00:00,0 days 08:00:00,2018-11-08 00:00:00,8.0
7920,1.387939e-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2019-01-01 12:00:00,2019-01-01 12:00:00,0 days 19:00:00,2018-12-31 17:00:00,19.0
10046,5.155640e-01,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2019-03-31 03:00:00,2019-03-31 03:00:00,0 days 02:00:00,2019-03-31 01:00:00,2.0
12671,4.370117e-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2019-07-18 13:00:00,2019-07-18 13:00:00,0 days 02:00:00,2019-07-18 11:00:00,2.0

In [38]:
df_error= df_test[640:660]
df_error=df_error.drop([641,642,643,644,645,646,647,648,649,650,651,652,653,654,655])
df_error

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,TimeHour,TimeHour2,Diff,Before,diff_hours
640,0.168701,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-29 08:00:00,2018-01-29 08:00:00,0 days 01:00:00,2018-01-29 07:00:00,1.0
656,0.263721,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-31 15:00:00,2018-01-31 15:00:00,0 days 01:00:00,2018-01-31 14:00:00,1.0
657,2.194580,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-31 16:00:00,2018-01-31 16:00:00,0 days 01:00:00,2018-01-31 15:00:00,1.0
658,0.023682,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-31 17:00:00,2018-01-31 17:00:00,0 days 01:00:00,2018-01-31 16:00:00,1.0
659,0.115479,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-31 18:00:00,2018-01-31 18:00:00,0 days 01:00:00,2018-01-31 17:00:00,1.0

In [39]:
df_test = df_test.drop([641,642,643,644,645,646,647,648,649,650,651,652,653,654,655])
df_test = df_test.reset_index()
df_test = df_test.drop(columns=["index"])
df_test

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,TimeHour,TimeHour2,Diff,Before,diff_hours
0,0.006699,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2018-01-01 13:00:00,2018-01-01 13:00:00,0 days 01:00:00,2018-01-01 12:00:00,1.0
1,0.004883,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2018-01-01 14:00:00,2018-01-01 14:00:00,0 days 01:00:00,2018-01-01 13:00:00,1.0
2,0.000977,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2018-01-01 15:00:00,2018-01-01 15:00:00,0 days 01:00:00,2018-01-01 14:00:00,1.0
3,0.027060,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2018-01-01 16:00:00,2018-01-01 16:00:00,0 days 01:00:00,2018-01-01 15:00:00,1.0
4,0.446828,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2018-01-01 17:00:00,2018-01-01 17:00:00,0 days 01:00:00,2018-01-01 16:00:00,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13574,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2019-08-25 19:00:00,2019-08-25 19:00:00,0 days 01:00:00,2019-08-25 18:00:00,1.0
13575,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,NaN,NaT,NaT,2019-08-25 19:00:00,NaN
13576,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,NaN,NaT,NaT,NaT,NaN
13577,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,NaN,NaT,NaT,NaT,NaN
13578,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,NaN,NaT,NaT,NaT,NaN

In [40]:
df_test[df_test['diff_hours']>1]

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,TimeHour,TimeHour2,Diff,Before,diff_hours
550,3.715820e-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-25 14:00:00,2018-01-25 14:00:00,1 days 04:00:00,2018-01-24 10:00:00,28.0
662,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-02-05 16:00:00,2018-02-05 16:00:00,4 days 05:00:00,2018-02-01 11:00:00,101.0
1037,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-02-23 09:00:00,2018-02-23 09:00:00,2 days 03:00:00,2018-02-21 06:00:00,51.0
1110,2.441406e-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-02-28 13:00:00,2018-02-28 13:00:00,0 days 04:00:00,2018-02-28 09:00:00,4.0
1479,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-04-05 20:00:00,2018-04-05 20:00:00,20 days 23:00:00,2018-03-15 21:00:00,503.0
1662,9.765621e-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-04-13 16:00:00,2018-04-13 16:00:00,0 days 06:00:00,2018-04-13 10:00:00,6.0
1775,3.749680e-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-04-18 17:00:00,2018-04-18 17:00:00,0 days 09:00:00,2018-04-18 08:00:00,9.0
1794,-4.523088e-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-04-20 12:00:00,2018-04-20 12:00:00,1 days 01:00:00,2018-04-19 11:00:00,25.0
2134,-7.734648e-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-05-04 18:00:00,2018-05-04 18:00:00,0 days 03:00:00,2018-05-04 15:00:00,3.0
3748,0.000000e+00,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-07-11 01:00:00,2018-07-11 01:00:00,0 days 02:00:00,2018-07-10 23:00:00,2.0
4807,3.974609e-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-08-24 06:00:00,2018-08-24 06:00:00,0 days 03:00:00,2018-08-24 03:00:00,3.0
5269,1.723633e-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-09-12 15:00:00,2018-09-12 15:00:00,0 days 04:00:00,2018-09-12 11:00:00,4.0
6623,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,2018-11-08 08:00:00,2018-11-08 08:00:00,0 days 08:00:00,2018-11-08 00:00:00,8.0
7905,1.387939e-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2019-01-01 12:00:00,2019-01-01 12:00:00,0 days 19:00:00,2018-12-31 17:00:00,19.0
10031,5.155640e-01,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2019-03-31 03:00:00,2019-03-31 03:00:00,0 days 02:00:00,2019-03-31 01:00:00,2.0
12656,4.370117e-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2019-07-18 13:00:00,2019-07-18 13:00:00,0 days 02:00:00,2019-07-18 11:00:00,2.0

In [41]:
df_test = df_test.drop([1480])

In [42]:
df_error = df_test[7898:7910]
df_error = df_error.drop([7900,7901,7902,7903,7904,7905])
df_error

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,TimeHour,TimeHour2,Diff,Before,diff_hours
7899,0.037354,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,2018-12-31 12:00:00,2018-12-31 12:00:00,0 days 01:00:00,2018-12-31 11:00:00,1.0
7906,0.002563,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2019-01-01 13:00:00,2019-01-01 13:00:00,0 days 01:00:00,2019-01-01 12:00:00,1.0
7907,0.100806,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2019-01-01 14:00:00,2019-01-01 14:00:00,0 days 01:00:00,2019-01-01 13:00:00,1.0
7908,0.085679,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2019-01-01 15:00:00,2019-01-01 15:00:00,0 days 01:00:00,2019-01-01 14:00:00,1.0
7909,0.014871,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2019-01-01 16:00:00,2019-01-01 16:00:00,0 days 01:00:00,2019-01-01 15:00:00,1.0
7910,0.034635,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2019-01-01 17:00:00,2019-01-01 17:00:00,0 days 01:00:00,2019-01-01 16:00:00,1.0

In [43]:
df_test = df_test.drop([7900,7901,7902,7903,7904,7905])
df_test = df_test.reset_index()
df_test = df_test.drop(columns=["index"])
df_test

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,TimeHour,TimeHour2,Diff,Before,diff_hours
0,0.006699,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2018-01-01 13:00:00,2018-01-01 13:00:00,0 days 01:00:00,2018-01-01 12:00:00,1.0
1,0.004883,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2018-01-01 14:00:00,2018-01-01 14:00:00,0 days 01:00:00,2018-01-01 13:00:00,1.0
2,0.000977,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2018-01-01 15:00:00,2018-01-01 15:00:00,0 days 01:00:00,2018-01-01 14:00:00,1.0
3,0.027060,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2018-01-01 16:00:00,2018-01-01 16:00:00,0 days 01:00:00,2018-01-01 15:00:00,1.0
4,0.446828,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2018-01-01 17:00:00,2018-01-01 17:00:00,0 days 01:00:00,2018-01-01 16:00:00,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13567,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2019-08-25 19:00:00,2019-08-25 19:00:00,0 days 01:00:00,2019-08-25 18:00:00,1.0
13568,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,NaN,NaT,NaT,2019-08-25 19:00:00,NaN
13569,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,NaN,NaT,NaT,NaT,NaN
13570,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,NaN,NaT,NaT,NaT,NaN
13571,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,NaN,NaT,NaT,NaT,NaN

In [44]:
df_test[df_test['diff_hours']>1]

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,TimeHour,TimeHour2,Diff,Before,diff_hours
550,3.715820e-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-25 14:00:00,2018-01-25 14:00:00,1 days 04:00:00,2018-01-24 10:00:00,28.0
662,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-02-05 16:00:00,2018-02-05 16:00:00,4 days 05:00:00,2018-02-01 11:00:00,101.0
1037,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-02-23 09:00:00,2018-02-23 09:00:00,2 days 03:00:00,2018-02-21 06:00:00,51.0
1110,2.441406e-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-02-28 13:00:00,2018-02-28 13:00:00,0 days 04:00:00,2018-02-28 09:00:00,4.0
1479,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-04-05 20:00:00,2018-04-05 20:00:00,20 days 23:00:00,2018-03-15 21:00:00,503.0
1661,9.765621e-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-04-13 16:00:00,2018-04-13 16:00:00,0 days 06:00:00,2018-04-13 10:00:00,6.0
1774,3.749680e-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-04-18 17:00:00,2018-04-18 17:00:00,0 days 09:00:00,2018-04-18 08:00:00,9.0
1793,-4.523088e-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-04-20 12:00:00,2018-04-20 12:00:00,1 days 01:00:00,2018-04-19 11:00:00,25.0
2133,-7.734648e-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-05-04 18:00:00,2018-05-04 18:00:00,0 days 03:00:00,2018-05-04 15:00:00,3.0
3747,0.000000e+00,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-07-11 01:00:00,2018-07-11 01:00:00,0 days 02:00:00,2018-07-10 23:00:00,2.0
4806,3.974609e-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-08-24 06:00:00,2018-08-24 06:00:00,0 days 03:00:00,2018-08-24 03:00:00,3.0
5268,1.723633e-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-09-12 15:00:00,2018-09-12 15:00:00,0 days 04:00:00,2018-09-12 11:00:00,4.0
6622,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,2018-11-08 08:00:00,2018-11-08 08:00:00,0 days 08:00:00,2018-11-08 00:00:00,8.0
10024,5.155640e-01,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2019-03-31 03:00:00,2019-03-31 03:00:00,0 days 02:00:00,2019-03-31 01:00:00,2.0
12649,4.370117e-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2019-07-18 13:00:00,2019-07-18 13:00:00,0 days 02:00:00,2019-07-18 11:00:00,2.0

In [61]:
df_test.loc[550, 'diff_hours']
df_test

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,TimeHour,TimeHour2,Diff,Before,diff_hours
0,0.006699,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2018-01-01 13:00:00,2018-01-01 13:00:00,0 days 01:00:00,2018-01-01 12:00:00,1.0
1,0.004883,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2018-01-01 14:00:00,2018-01-01 14:00:00,0 days 01:00:00,2018-01-01 13:00:00,1.0
2,0.000977,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2018-01-01 15:00:00,2018-01-01 15:00:00,0 days 01:00:00,2018-01-01 14:00:00,1.0
3,0.027060,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2018-01-01 16:00:00,2018-01-01 16:00:00,0 days 01:00:00,2018-01-01 15:00:00,1.0
4,0.446828,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,2018-01-01 17:00:00,2018-01-01 17:00:00,0 days 01:00:00,2018-01-01 16:00:00,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13634,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2019-08-25 19:00:00,2019-08-25 19:00:00,0 days 01:00:00,2019-08-25 18:00:00,1.0
13635,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,NaN,NaT,NaT,2019-08-25 19:00:00,NaN
13636,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,NaN,NaT,NaT,NaT,NaN
13637,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,NaN,NaT,NaT,NaT,NaN
13638,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,NaN,NaT,NaT,NaT,NaN

In [46]:
df_show = df_test[545:560]
df_show

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,TimeHour,TimeHour2,Diff,Before,diff_hours
545,0.007029,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-24 06:00:00,2018-01-24 06:00:00,0 days 01:00:00,2018-01-24 05:00:00,1.0
546,0.007944,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-24 07:00:00,2018-01-24 07:00:00,0 days 01:00:00,2018-01-24 06:00:00,1.0
547,0.002714,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-24 08:00:00,2018-01-24 08:00:00,0 days 01:00:00,2018-01-24 07:00:00,1.0
548,0.006858,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-24 09:00:00,2018-01-24 09:00:00,0 days 01:00:00,2018-01-24 08:00:00,1.0
549,0.136719,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-24 10:00:00,2018-01-24 10:00:00,0 days 01:00:00,2018-01-24 09:00:00,1.0
550,0.371582,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-25 14:00:00,2018-01-25 14:00:00,1 days 04:00:00,2018-01-24 10:00:00,28.0
551,0.091797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-25 15:00:00,2018-01-25 15:00:00,0 days 01:00:00,2018-01-25 14:00:00,1.0
552,0.061523,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-25 16:00:00,2018-01-25 16:00:00,0 days 01:00:00,2018-01-25 15:00:00,1.0
553,0.293457,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-25 17:00:00,2018-01-25 17:00:00,0 days 01:00:00,2018-01-25 16:00:00,1.0
554,0.000488,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-25 18:00:00,2018-01-25 18:00:00,0 days 01:00:00,2018-01-25 17:00:00,1.0
555,0.001465,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-25 19:00:00,2018-01-25 19:00:00,0 days 01:00:00,2018-01-25 18:00:00,1.0
556,0.089844,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-25 20:00:00,2018-01-25 20:00:00,0 days 01:00:00,2018-01-25 19:00:00,1.0
557,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-25 21:00:00,2018-01-25 21:00:00,0 days 01:00:00,2018-01-25 20:00:00,1.0
558,0.002441,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-25 22:00:00,2018-01-25 22:00:00,0 days 01:00:00,2018-01-25 21:00:00,1.0
559,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-25 23:00:00,2018-01-25 23:00:00,0 days 01:00:00,2018-01-25 22:00:00,1.0

In [58]:
x = 0
while x < 13000:
    if df_test.loc[x, 'diff_hours'] != 1.0 and df_test.loc[x, "diff_hours"] != 24.0 and df_test.loc[x, 'diff_hours'] != 96.0 and df_test.loc[x, 'diff_hours'] != 48.0 and df_test.loc[x, 'diff_hours'] != 480.0:
        print(x)
        df_test.loc[x, 'diff_hours'] = df_test.loc[x, 'diff_hours'] - 1
        df_test = fill_with_average(df_test, x-1, x)
        x = x - 1
    else:
        x = x + 1

print ('Missing values approximated')

Missing values approximated

In [60]:
#df_test[df_test['diff_hours']>1]
df_test[549:560]

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,TimeHour,TimeHour2,Diff,Before,diff_hours
549,0.136719,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-24 10:00:00,2018-01-24 10:00:00,0 days 01:00:00,2018-01-24 09:00:00,1.0
550,0.254150,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-24 10:00:00,2018-01-24 11:00:00,0 days 01:00:00,2018-01-24 09:00:00,1.0
551,0.312866,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-24 10:00:00,2018-01-24 12:00:00,0 days 01:00:00,2018-01-24 09:00:00,1.0
552,0.371582,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-25 14:00:00,2018-01-25 14:00:00,1 days 04:00:00,2018-01-24 10:00:00,24.0
553,0.091797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-25 15:00:00,2018-01-25 15:00:00,0 days 01:00:00,2018-01-25 14:00:00,1.0
554,0.061523,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-25 16:00:00,2018-01-25 16:00:00,0 days 01:00:00,2018-01-25 15:00:00,1.0
555,0.293457,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-25 17:00:00,2018-01-25 17:00:00,0 days 01:00:00,2018-01-25 16:00:00,1.0
556,0.000488,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-25 18:00:00,2018-01-25 18:00:00,0 days 01:00:00,2018-01-25 17:00:00,1.0
557,0.001465,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-25 19:00:00,2018-01-25 19:00:00,0 days 01:00:00,2018-01-25 18:00:00,1.0
558,0.089844,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-25 20:00:00,2018-01-25 20:00:00,0 days 01:00:00,2018-01-25 19:00:00,1.0
559,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,2018-01-25 21:00:00,2018-01-25 21:00:00,0 days 01:00:00,2018-01-25 20:00:00,1.0