In [128]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [129]:

X =np.load('X_cleaned.npy', allow_pickle=True)
X = pd.DataFrame(data=X)
X=X.drop([0,1,2,3,4,5,6,7,8,9,10])

X = X.reset_index()
X = X.drop(columns=["index"])
X

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,0.149059,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2018-01-02 00:00:00
1,0.0974522,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2018-01-02 01:00:00
2,0.0325427,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2018-01-02 02:00:00
3,0.208984,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2018-01-02 03:00:00
4,0.123808,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2018-01-02 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13616,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,2019-08-25 10:00:00
13617,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,2019-08-25 11:00:00
13618,-1.36924e-08,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,2019-08-25 12:00:00
13619,4.16997e-09,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,2019-08-25 13:00:00
13620,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,2019-08-25 14:00:00

In [130]:
### Import data & drop empty column ###

# import dry weather data
#flow_data = pd.read_csv("FirstPredictions.csv")
#flow_data = flow_data.drop("Unnamed: 0", axis=1)

X = np.load('X_cleaned.npy',allow_pickle=True) #rainpredictions, hour of day, month of year, holiday, ones
flow_data = np.load('Y_cleaned.npy',allow_pickle=True)
flow_data = pd.DataFrame(data=flow_data)
flow_data = flow_data.rename(columns={1: "Time"})

Xpd =  pd.DataFrame(data=X)
# import rain-predictions
rain = pd.read_csv('LZS_rain_pred.csv')
# set all negative rain predictions to zero
Xpd[0][Xpd[0]<0]=0
#rain['Prediction'][rain['Prediction'] < 0] = 0

In [131]:
flow_data

             0                 Time
0      502.995  2018-01-01 13:00:00
1      501.562  2018-01-01 14:00:00
2      267.722  2018-01-01 15:00:00
3      164.685  2018-01-01 16:00:00
4      415.606  2018-01-01 17:00:00
...        ...                  ...
13627   95.319  2019-08-25 10:00:00
13628  158.128  2019-08-25 11:00:00
13629   107.45  2019-08-25 12:00:00
13630  184.321  2019-08-25 13:00:00
13631  84.3468  2019-08-25 14:00:00

[13632 rows x 2 columns]

In [132]:
# if prediction is 1 or larger, then rainy is yes, otherwise no
# the keys (in my case Time) have to be the same to be able to merge
# and I only need the columns Time (=key) and rainy
#X['rainy'] = np.where(X['Prediction']=1, 'yes', 'no')
Xpd['rainy'] = np.where(Xpd[0]>=1, 'yes', 'no')
Xpd = Xpd.rename(columns={39: "Time"})
#Xpd=Xpd[['Time','rainy']]
Xpd

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,Time,rainy
0,0.00669929,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,2018-01-01 13:00:00,no
1,0.00488281,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,2018-01-01 14:00:00,no
2,0.000976562,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,2018-01-01 15:00:00,no
3,0.0270602,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,2018-01-01 16:00:00,no
4,0.446828,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,2018-01-01 17:00:00,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13627,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,2019-08-25 10:00:00,no
13628,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,2019-08-25 11:00:00,no
13629,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,2019-08-25 12:00:00,no
13630,4.16997e-09,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,2019-08-25 13:00:00,no
13631,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,2019-08-25 14:00:00,no

In [133]:
# merge files flow_data
flow_data = pd.merge(flow_data, Xpd, on=['Time'])

In [134]:
### add columns to flow_data ###
flow_data['TimeHour']=flow_data['Time']
flow_data['Time'] = pd.to_datetime(flow_data['Time'])
flow_data['year'] = pd.DatetimeIndex(flow_data['Time']).year
flow_data['month'] = pd.DatetimeIndex(flow_data['Time']).month
flow_data['day'] = pd.DatetimeIndex(flow_data['Time']).day

In [135]:
flow_data['rainy_day'] = 'no'

# check for every hour if there will be heavy rain
for datapoint in range(0, len(flow_data)):
    
    # if there is heavy rain predicted, set all hours of that day to rainy_day=yes
    if flow_data.loc[datapoint, 'rainy'] == 'yes':
        
        day = flow_data.loc[datapoint, 'day']
        month = flow_data.loc[datapoint, 'month']
        year = flow_data.loc[datapoint, 'year']
              
        condition = (flow_data['day'] == day) & (flow_data['month'] == month) & (flow_data['year'] == year)                     
        flow_data['rainy_day'] = np.where(condition, 'yes', flow_data['rainy_day'])

In [136]:
# to split the dataframe into two dataframes

rainy_days_df = flow_data[flow_data['rainy_day'] == 'yes']
dry_days_df = flow_data[flow_data['rainy_day'] == 'no']
rainy_days_df=rainy_days_df.drop([0,1,2,3,4,5,6,7,8,9])
dry_days_df=dry_days_df.drop([14447,14446,14445,14443,14442,14441,14440,14439,14438,14437,14436,14435,14434,14433])


Timehour_dry=dry_days_df['TimeHour']
Timehour_dry.to_csv('Timehour_dry.csv')
Timehour_wet=rainy_days_df['TimeHour']
Timehour_wet.to_csv('Timehour_wet.csv')

Y_rain = rainy_days_df['0_x']
X_rain = rainy_days_df.drop(['0_y','rainy','rainy_day','year','month','day', 'Time','TimeHour'],axis=1)
Y_dry = dry_days_df['0_x']
X_dry = dry_days_df.drop(['0_y','rainy','rainy_day','year','month','day','Time','TimeHour'],axis=1)

In [137]:
np.save('Y_rain.npy', Y_rain)
np.save('Y_dry.npy', Y_dry)
np.save('X_rain.npy', X_rain)
np.save('X_dry.npy',X_dry)
X_dry

           0_x  1  2  3  4  5  6  7  8  9  ... 29 30 31 32 33 34 35 36 37 38
11     519.031  1  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  1
12     518.495  0  1  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  1
13     518.477  0  0  1  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  1
14     511.912  0  0  0  1  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  1
15     508.041  0  0  0  0  1  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  1
...        ... .. .. .. .. .. .. .. .. ..  ... .. .. .. .. .. .. .. .. .. ..
14429  91.3005  0  0  0  0  0  0  0  0  0  ...  0  0  0  1  0  0  0  0  0  1
14430  71.5371  0  0  0  0  0  0  0  0  0  ...  0  0  0  1  0  0  0  0  0  1
14431   23.966  0  0  0  0  0  0  0  0  0  ...  0  0  0  1  0  0  0  0  0  1
14432  81.4259  0  0  0  0  0  0  0  0  0  ...  0  0  0  1  0  0  0  0  0  1
14444  158.128  0  0  0  0  0  0  0  0  0  ...  0  0  0  1  0  0  0  0  0  1

[11280 rows x 39 columns]